# folders
.DS_Store
.vscode

# compile results(default value)
a.out
*.o
*.a
*.dSYM
*.gch

# swap file
*.swp

# only for push_swap(test)
push_swap_run_args.log
push_swap_visualizer
imgui.ini
push_swap_tester*
